<div class="switch_container" title="Toggle lights">
    <span class="far fa-lightbulb" aria-hidden="true" id="SwitchIcon" data-bind="value: SetIcon"></span>
    <label class="switch">        
        <input class="custom" id="light_switch" type="checkbox" data-bind="click: switchLED"/>
        <span class="slider"></span>
    </label> 
</div>
