<form class="form-horizontal">
    <div id="controlGroup1" class="control-group">
        <label class="">Serial Port</label>
        <select id="selectedPort" class="custom-select" style="width:600px" data-bind="value: settings.plugins.SerialCommunicator.selectedPort">
            {% for x in plugin_SerialCommunicator_selectedPort %}
                {% set List1 = x.split('#') %} 
                <option value="{{List1[2]}}">{{List1[0]}} - {{List1[1]}} - {{List1[2]}}</option>
            {% endfor %}
        </select>
        <label class="">Baudrate</label>
        <select id="connection_baudrates_SC" class="select-mini" data-bind="value: settings.plugins.SerialCommunicator.selectedBaudrate">
            <option value="250000">250000</option>
            <option value="230400">230400</option>
            <option value="115200">115200</option>
            <option value="57600">57600</option>
            <option value="38400">38400</option>
            <option value="19200">19200</option>
            <option value="9600">9600</option>
            <option value=""></option>
        </select>
        <div class="control-group">
            <label class="">Commands</label>
            <input id="Command1" type="text" class="input-mini text-left" style="width:600px" data-bind="value: settings.plugins.SerialCommunicator.Command1">
        </div>
    </div>
</form>
