<div class="switch_container" title="Toggle lights" id=swicth_container>
    <span class="fas fa-lightbulb" aria-hidden="true" id="SwitchIcon" style="color: black"></span>
    <label class="switch">        
        <input class="custom" id="light_switch" type="checkbox" data-bind="click: switchLED"/>
        <span class="slider" id="light_slider"></span>
    </label> 
</div>
