input[type="checkbox"]
{
    vertical-align:middle;
    padding-right: 0%;
}
label,input{
    display: inline-block;
    vertical-align: middle;
}
table, th, td {
border: 1px #eeeeee;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
.custom_container {
    width: 600px;
}
